h1 {
    color: navy;
    margin-left: 20px;
}


body {
    padding-left: 15px;
}

.posting_text {
    font-size: 15px;
  }
.posting_date {
    font-size: 12px;
	color:gray;
	font-style: italic;
  }
.error_message {
    color:red;
  }
.success_message {
    color:green;
  }
.comment_text {
    color:navy;
  }