{% extends "blog/base.html" %}
{% block content %}
{% load staticfiles %}
<h1>{{ posting.posting_topic }}</h1>
<blockquote>
  <p class="posting_text">{{ posting.posting_text }}</p>
  <footer class="posting_date">Posted on {{ posting.posting_date }}</footer>
</blockquote>

<div id = "commenting">
  <ul>{% if error_message %}<p class="error_message"><strong>{{ error_message }}</strong></p>{% endif %}</ul>
  <ul>{% if success_message %}<p class="success_message"><strong>{{ success_message }}</strong></p>{% endif %}</ul>
  <ul>
  {% for comment in posting.comment_set.all %}
    <li><p class="comment_text">{{ comment.comment_text }} - {{ comment.comment_date }}</p></li>
  {% endfor %}
  <form action="{% url 'blog:comment' posting.id %}" method="post">
    {% csrf_token %}
    <textarea name="comment_text" cols="80" rows="3"></textarea><br/>
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <button type="reset" class="btn btn-primary btn-sm">Erase</button>
  </form>
  </ul>
</div>

<ul>
  <button type="button" class="btn btn-success btn-sm" id="back">Go to Main Page</button>
  <button type="button" class="btn btn-success btn-sm" id="show">Show Comments</button>
  <button type="button" class="btn btn-success btn-sm" id="hide">Hide Comments</button>
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/blog.js' %}"></script>
{% endblock content %}
