{% extends "blog/base.html" %}
{% block content %}
{% load staticfiles %}
<h1>My Blog</h1>
<blockquote>
  <strong><p class="posting_text">Latest postings:</p></strong>
  <a href="{% url 'blog:json_feed' %}"> <img title="RSS-JSON" src="{% static "images/rss.png" %}" alt="RSS" width="25" height="25" align="left"> </a>
</blockquote>

{% if latest_posting_list %}
    <ul>
    {% for posting in latest_posting_list %}
        <li><a href="{% url 'blog:detail' posting.id %}">{{ posting.posting_topic }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No postings are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary  btn-sm" role="button"  href="?page={{ page_obj.previous_page_number }}">Previous page</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="btn btn-primary  btn-sm" role="button"  href="?page={{ page_obj.next_page_number }}">Next page</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
